html { 
  --color-accent: oklch(87.922% 0.09219 69.815);
  accent-color: var(--color-accent); 
  color-scheme: dark;
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 0px 10px;
  margin-bottom: 10%;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-top: 2em;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);

  ul, li {
    display: contents;
  }
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;

  &.current {
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 0.4em;
    border-bottom-color: var(--border-color);
  }

  &:hover { 
    border-bottom-style: solid;
    border-bottom-width: 0.4em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    border-bottom-color: var(--color-accent);
  }
}

form {
  display:grid;
  grid-template-columns: auto 1fr;
  gap: 1em;

  label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  /*decided on a smaller submit button as I subjectively believe it looks nicer*/
  button {
    grid-column: 2 / -1;
  }
}

div {
  &.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

    article {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 0.5em;
      box-sizing: border-box;
      
      p.year {
        color: var(--color-accent);
        font-style: italic;
      }

      img {
        display: block;
        object-fit: scale-down;
        max-width: 100%;
        flex: 1;
        min-height: 0;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      &.project {
        margin: 0;
        min-height: 2.5em; /* ensuring that titles stay aligned when the word wrapping is strange */
      }
    }


  }

  &.work-history {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    background-color: color-mix(in oklch, oklch(80% 0.01 205), canvas 85%);

    article.header {
      font-weight: bold;
      background-color: color-mix(in oklch, oklch(80% 0.01 205), canvas 85%);
    }

    article {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: span 5;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

label {
  &.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-family: inherit;
    font-size: 80%;
  }
}

select {
  font-size: 80%;
}

dl.table {
  display:grid;
  grid-template-rows: 50% ;
  grid-template-columns: auto auto auto auto;
  gap: 1em;
  font-family: inherit;
  padding-bottom: 2fr;
  text-align: left;

  dt {
    display: grid;
    grid-template-columns: subgrid;
    grid-row: 1;
    font-family: inherit;
    font-weight: bold;
  }

  dd {
    display: grid;
    grid-template-columns: subgrid;
    grid-row: 2;
    font-size: 100%;
    font-family: inherit;
    min-height: 4fr;
    margin-left: 0%;
    
  }
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  flex: 0.5;  
  min-width: 5em;
  margin-left: 1em;
}

span {
  display: inline-flex;
  &.swatch {
    height: 10px;
    width: 10px;
    aspect-ratio: 1 / 1;
    background-color: var(--color);
    border-radius: 20%;
  }
}

.legend {
    margin: 0em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7em, 3fr));
    border-style: solid;
    border-color: color-mix(in oklch, oklch(80% 0.01 205), canvas 85%);
    gap: 0.35em;
    flex: 1;
    max-width: 50%;

    li.legendsubelement {
      grid-template-rows: subgrid;
      display: flex;
      align-items: center;
      gap: 0.2em;
      padding-top: 10px;
      padding-bottom: 10px;
    }
}

div.container {
  display: flex;
  align-items: center;
}

svg {
  &:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
  }
  .gridlines {
    opacity: 25%;
  }
}

dl.info {
  display: grid;
  
  &.tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
  }
}



circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;

  @starting-style {
    r: 0;
    transition: all 200ms, r calc(var(--r) * 100ms);
  }
  
}

circle:hover {
  transform: scale(1.5);
}


path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

dl.info {
  /* ... other styles ... */
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: var(--color-accent);
}

#filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#filter label {
  display: flex;
  flex: 1;
  gap: 0.5rem;
  align-items: center;
}

#commit-progress {
  flex: 1;
}

#commit-time {
  flex-basis: 100%;
  text-align: right;
  margin-right: 0.5%;
}

#files {
  display: grid;
  grid-template-columns: 1fr 4fr;

  > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  dt {
    grid-column: 1;
  }

  dd {
    grid-column: 2;
  }

  dd {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;
    gap: 0.15em;
    padding-top: 0.6em;
    margin-left: 0;
  }

  small {
    display: block;
    opacity: 75%;
  }
}

.loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: var(--color);
  border-radius: 50%;
  align-items: start;
}

#scrolly-1 {
  position: relative;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

#scatter-story {
  position: relative;
}

#scatter-plot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}