html { 
  --color-accent: oklch(87.922% 0.09219 69.815);
  accent-color: var(--color-accent); 
  color-scheme: dark;
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 0px 10px;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-top: 2em;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);

  ul, li {
    display: contents;
  }
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;

  &.current {
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 0.4em;
    border-bottom-color: var(--border-color);
  }

  &:hover { 
    border-bottom-style: solid;
    border-bottom-width: 0.4em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    border-bottom-color: var(--color-accent);
  }
}

form {
  display:grid;
  grid-template-columns: auto 1fr;
  gap: 1em;

  label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  /*decided on a smaller submit button as I subjectively believe it looks nicer*/
  button {
    grid-column: 2 / -1;
  }
}

div {
  &.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

    article {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 0.5em;
      box-sizing: border-box;
      
      p.year {
        color: var(--color-accent);
        font-style: italic;
      }

      img {
        display: block;
        object-fit: scale-down;
        max-width: 100%;
        flex: 1;
        min-height: 0;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      &.project {
        margin: 0;
        min-height: 2.5em; /* ensuring that titles stay aligned when the word wrapping is strange */
      }
    }


  }

  &.work-history {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    background-color: color-mix(in oklch, oklch(80% 0.01 205), canvas 85%);

    article.header {
      font-weight: bold;
      background-color: color-mix(in oklch, oklch(80% 0.01 205), canvas 85%);
    }

    article {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: span 5;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

label {
  &.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-family: inherit;
    font-size: 80%;
  }
}
select {
  font-size: 80%;
}

dl {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  font-family: inherit;

  dt {
    display: grid;
    grid-template-columns: subgrid;
    grid-row: 1;
    font-family: inherit;
    text-align: left;
  }

  dd {
    display: grid;
    grid-row: 2;
    text-align: left;
    font-size: 120%;
    font-family: inherit;
  }
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  flex: 0.5;  
  min-width: 5em;
  margin-left: 1em;
}

span {
  display: inline-flex;
  &.swatch {
    height: 10px;
    width: 10px;
    aspect-ratio: 1 / 1;
    background-color: var(--color);
    border-radius: 20%;
  }
}

.legend {
    margin: 0em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7em, 3fr));
    border-style: solid;
    border-color: color-mix(in oklch, oklch(80% 0.01 205), canvas 85%);
    gap: 0.35em;
    flex: 1;
    max-width: 50%;

    li.legendsubelement {
      grid-template-rows: subgrid;
      display: flex;
      align-items: center;
      gap: 0.2em;
      padding-top: 10px;
      padding-bottom: 10px;
    }
}

div.container {
  display: flex;
  align-items: center;
}
